[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
influxdb-client = "*"
requests = "*"

[dev-packages]
pytest = "*"
requests-mock = "*"
pylint = "*"
flake8 = "*"
exceptiongroup = "*"

[requires]
python_version = "3"
